.ipynb_checkpoints
.idea
notebooks
github_csv
gerrit_csv
github_raw
apache_beam_2020-09-02
test.py
other_data/Android.json
notebooks/Counter.ipynb
review.openstack.org
/other_data/
batcore.egg-info
checkpoints
data_checkpoint
dist
raw_dataset
results
tests
*.ipynb
*miss*
sandbox.py
logs
**/__pycache__/**
.vscode
.DS_Store

